VITE_SUPABASE_URL=https://spgbnjpwwghdbfcrvuml.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwZ2JuanB3d2doZGJmY3J2dW1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4OTA5MDQsImV4cCI6MjA4ODQ2NjkwNH0.WDSUg0nMGVVkgJ96KLFHFKDqE0bdAbsC0bIf8Q6jEFY
